{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="form-group d-grid gap-2">
        {% include 'components/breadcrumb.html' %}
        {% with call_sign=call_sign %}{% include 'components/pilot-info.html' %}{% endwith %}
    </div>
</div>
{% endblock content %}