{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        {% include 'components/breadcrumb.html' %}
        {% include 'components/pilot-info.html' %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button onclick="window.location.href = `{% url 'oca:report' pilot_cid %}`" class="btn btn-primary" type="button">Position Report
            </button>
            <button onclick="window.location.href = `{% url 'oca:clearance' pilot_cid %}`" class="btn btn-primary"
                    type="button">Oceanic Clearance
            </button>
            {% include "components/handoff.html" %}
            {% include "components/assume-release.html" %}
        </div>
        <div>

        </div>
    </div>
    {% include 'components/last-position-reports.html' %}
{% endblock content %}