{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="../api/reports/{{ pilot_cid }}?controller_cid={{ controller_cid }}" enctype="multipart/form-data"
              method="POST">
            <fieldset class="form-group">
                {% include 'components/breadcrumb.html' %}
                {% include 'components/pilot-info.html' %}
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="current_position">Position</label>
                        <select class="form-select" id="current_position" name="current_position"></select>
                    </div>
                    <div class="col">
                        <label class="form-label">Time</label>
                        <input class="form-control" id="current_position_time" name="current_position_time" required
                               type="time">
                    </div>
                    <div class="col">
                        <label class="form-label">Flight Level</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">FL</span>
                            <input class="form-control" id="flight_level" maxlength="3" name="flight_level"
                                   placeholder="XXX"
                                   required type="text">
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Mach</label>
                        <div class="input-group mb-3">
                            <input class="form-control" id="mach_number" maxlength="3" minlength="1" name="mach_number"
                                   placeholder="XXX" required type="text">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="next_position">Estimate</label>
                        <select class="form-select" id="next_position" name="next_position"></select>
                    </div>
                    <div class="col">
                        <label class="form-label">Time</label>
                        <input class="form-control" id="next_position_time" name="next_position_time" required
                               type="time">
                    </div>
                </div>
                <div class="col form-group mb-3">
                    <label class="form-label" for="thereafter_position">Next</label>
                    <select class="form-select" id="thereafter_position" name="thereafter_position"></select>
                </div>
                <div class="col form-group mb-3">
                    <label class="form-label">SELCAL</label>
                    <input class="form-control" id="selcal" maxlength="4" minlength="4" name="selcal" placeholder="XXXX"
                           type="text">
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="fansa" name="fansa" type="checkbox" value="true">
                    <label class="form-check-label" for="fansa">FANS A</label>
                </div>

            </fieldset>
            <div class="my-3 form-group d-grid gap-2">
                <button class="btn btn btn-outline-danger" onclick="testConflict()" type="button">Test Conflict</button>
                <button class="btn btn btn-success" id="save" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function testConflict() {
            fetch(``)
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    console.log(json)
                })
        }

            fetch(`../api/live/pilots/${ {{ pilot_cid }} }/route`)
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    const html = json.map(route_point => {
                        return `<option value="${route_point}">${route_point}</option>`;
                    }).join("");
                    document.getElementById('current_position').innerHTML = html;
                    document.getElementById('next_position').innerHTML = html;
                    document.getElementById('thereafter_position').innerHTML = html;
                })
    </script>
{% endblock script %}