body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
    background-color: #0D0D0D;
}

.site-header .navbar-nav .nav-link {
    color: #F98D00;
}

.bg-orange {
    background-color: #F27405;
}

.nav-link:hover {
    color: #0592E1;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.indent {
    margin-left: 20px;
}

p {
    text-align: center;
}