<div id="assume-release-button" class="d-grid gap-2"></div>
<script>
    function redirectToPilotProfile() {
        window.location.href = "../{{ pilot_cid }}";
    }

    function assumeButton() {
        document.getElementById('assume-release-button').innerHTML = `<button class="btn btn btn-outline-success" onclick="assumePilot()" type="button">Assume</button>`;
    }

    function releaseButton() {
        document.getElementById('assume-release-button').innerHTML = `<button class="btn btn btn-outline-danger" onclick="releasePilot()" type="button">Release</button>`;
    }

    fetch(`../api/pilots/{{ pilot_cid }}`)
        .then(res => res.json())
        .then(pilot => (pilot.assumed_by.cid === {{ controller_cid }} ? releaseButton() : assumeButton()))
        .catch(assumeButton())

    function assumePilot() {
        fetch(`../api/pilots/{{ pilot_cid }}?controller_cid={{ controller_cid }}`, {
            method: 'POST',
        })
            .then(res => res.json())
            .then(response => (response.success === true ? redirectToPilotProfile() : console.log(response)))
    }

    function releasePilot() {
        fetch(`../api/pilots/{{ pilot_cid }}?controller_cid={{ controller_cid }}`, {
            method: 'DELETE',
        })
            .then(res => res.json())
            .then(response => (response.success === true ? redirectToPilotProfile() : console.log(response)))
    }
</script>