<div class="card">
    <div class=" card-body text-center">
        <div class="card-header border-dark">Assumed Aircraft</div>
        <div class="list-group" id="aircraftAssumedPlaceholder"></div>
    </div>
</div>
<script>
    let my_callsign = "LPPO_FSS"

    fetch(`../api/pilots`)
        .then(response => {
            return response.json();
        })
        .then(json => {
            const html = json.map(pilot => {
                return `<a href="../${pilot.cid}" class="list-group-item list-group-item-action">
                            ${pilot.callsign}
                            <span class="mx-1 badge ${pilot.assumed_by.callsign === my_callsign ? 'bg-success' : 'bg-secondary'}">
                                ${pilot.assumed_by.callsign}
                            </span>
                        </a>`;
            }).join("");
            document.getElementById('aircraftAssumedPlaceholder').innerHTML = html;
        })
</script>