<div id="handoff-button" class="d-grid gap-2">
</div>
<script>
    function disabledHandOffButton() {
        document.getElementById('handoff-button').innerHTML = `<button class="btn btn btn-warning" type="button" disabled>Hand Off</button>`
    }

    function handOffButton() {
        document.getElementById('handoff-button').innerHTML = `<button class="btn btn btn-warning" onclick="handoffPilot()" type="button">Hand Off</button>`
    }

    fetch(`../api/controllers`)
        .then(res => res.json())
        .then(controllers => {
            controllers.length > 1 ? handOffButton() : disabledHandOffButton()
        })
        .catch(error => disabledHandOffButton())

    function redirectToPilotProfile() {
        window.location.href = "../{{ pilot_cid }}";
    }

    function handoffPilot() {
        fetch(`../api/pilots/{{ pilot_cid }}?controller_cid={{ controller_cid }}`, {
            method: 'POST',
        })
            .then(res => res.json())
            .then(response => (response.success === true ? redirectToPilotProfile() : console.log("ALGO DE ERRADO ACONTECEU assumePilot(handoffrealease.html)")))
    }
</script>