<div class="card">
    <div class="card-header">Last Position Reports</div>
    <div id="my-table-body" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Position</th>
                <th scope="col">Time</th>
                <th scope="col">Flight Level</th>
                <th scope="col">Mach</th>
                <th scope="col">Estimate</th>
                <th scope="col">Time</th>
                <th scope="col">Next</th>
                <th scope="col">SELCAL</th>
                <th scope="col">FANS A</th>
                <th scope="col">Created By</th>
            </tr>
            </thead>
            <tbody id="positionReportsPlaceholder">
            </tbody>
        </table>
    </div>
</div>
<script>

    function posReportHistory(key, posReport) {
        var wrapper = document.createElement('tr')
        wrapper.innerHTML =
            '<th scope="row">' + key + '</th>' +
            '<td><span class="badge bg-dark">' + posReport.current_position + '</span></td>' +
            '<td>' + posReport.current_position_time + '</span></td>' +
            '<td><span class="badge bg-dark">' + posReport.flight_level + '</span></td>' +
            '<td><span class="badge bg-dark">' + posReport.mach_number + '</span></td>' +
            '<td><span class="badge bg-dark">' + posReport.next_position + '</span></td>' +
            '<td>' + posReport.next_position_time + '</td>' +
            '<td><span class="badge bg-dark">' + posReport.thereafter_position + '</span></td>' +
            '<td><span class="badge bg-dark">' + posReport.selcal + '</span></td>' +
            '<td>' + posReport.fans_a + '</td>' +
            '<td><span class="badge bg-dark">' + posReport.created_by.callsign + '</span></td>'
        document.getElementById('positionReportsPlaceholder').append(wrapper);
    }

    fetch(`../api/reports/{{ pilot_cid }}`)
        .then(response => {
            return response.json();
        })
        .then(json => {
            Object.entries(json).reverse().forEach(([key, value]) => {
                posReportHistory(key, value)
            });
        }).catch(error => {
        document.getElementById('my-table-body').innerHTML = ` <div class="alert mx-3 my-3 alert-secondary" role="alert">No reports for this pilot...</div>`;
    })
</script>