<div class="content-section">
    <div id="pilot-content" class="row text-center">
        <div id="callsign"></div>
        <h4>
            <small id="departure"></small> → <small id="arrival"></small>
        </h4>
        <small id="pilot-name"></small>
    </div>
</div>

<script>
    let assumed = true;

    fetch(`../api/live/pilots/{{ pilot_cid }}`)
        .then(res => res.json())
        .then(live_pilot => {
            fetch(`../api/pilots/{{ pilot_cid }}`)
                .then(res => res.json())
                .then(pilot => (document.getElementById('callsign').innerHTML = `<h2><span class="badge rounded-pill ${pilot.assumed_by.cid === {{ controller_cid }} ? 'bg-success' : 'bg-secondary'}">${live_pilot.callsign}</span></h2>`))
                .catch(error => (document.getElementById('callsign').innerHTML = `<h2><span class="badge rounded-pill bg-secondary">${live_pilot.callsign}</span></h2>`))

            document.getElementById('departure').innerHTML = live_pilot.flight_plan.departure;
            document.getElementById('arrival').innerHTML = live_pilot.flight_plan.arrival;
            document.getElementById('pilot-name').innerHTML = live_pilot.name;
        }).catch(error => {
        document.getElementById('pilot-content').innerHTML = `<div class="alert alert-danger" role="alert">This pilot appears to be offline</div>
        `;
    })

</script>