<div class="my-3 mx-3">
    <p class="text-center"><b>SELECT AIRCRAFT:</b></p>
    <select aria-label="Default select example" class="form-select" id="aircraft-select"
            onchange="window.location.href = `../${value}`;"></select>
</div>
<script>
    fetch(`../api/live/pilots`)
        .then(response => {
            return response.json();
        })
        .then(json => {
            json.sort(function (a, b) {
                a = a.callsign.toLowerCase();
                b = b.callsign.toLowerCase();
                return a < b ? -1 : a > b ? 1 : 0;
            });
            const html = json.map(pilot => {
                return `<option class="text-center" value="${pilot.cid}">${pilot.callsign}</option>`;
            }).join("");
            document.getElementById('aircraft-select').innerHTML = `<option selected></option> ${html}`;
        })
</script>